<body>
<div th:fragment="menuFragment">
    <div id="sidebar" class="sidebar">
        <div class="dropdown">
            <a href="#" class="dropdown"></a>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="/atendimento">Rota de Atendimento</a>
                <a href="/usuario/criar">Cadastrar Usuario</a>
                <a href="/atendimentos-pendentes">Preventivas Pendentes</a>
                <a href="/ordens_servico">Cadastrar Atendimento</a>
                <a href="/novo_endereco">Novo Endereço</a>
                <a href="/relatorios">Relatorios</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>
</body>