<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/paginas.css}" />
</head>
<body>
<div class="top-banner">Sistema de Atendimentos Preventivos</div>
<div class="sidebar" th:replace="~{fragments/menu :: menuFragment}">
</div>
<div class="wrapper-container">
    <div class="main-content">
        <h1>Bem-vindo</h1>
        <h2>Acompanhe suas Ordens de Serviço</h2>
        <div class="gallery">
            <img src="https://www.gestaoizy.com.br/admin/imagens/noticias/29082018060750.png" alt="Imagem de Tecnologia">
            <img src="https://play-lh.googleusercontent.com/GlGA0J02ExGZnWJpPyjN4AuHn5EKWZq98zu7OUBab9DLZC7MZpJ6DsbsAlMi6q3Ad8nu" alt="Imagem de Tecnologia">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQL-U1Zil-n1UFPEzVb4rUJ5n5fzlnPXQNRw&s" alt="Imagem de Tecnologia">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5XwaDUDH9QpAkUw3AUs8a0DJGdq9hWbEu9w&s" alt="Imagem de Tecnologia">
        </div>
    </div>
</div>
</body>
</html>