<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rota de Atendimento</title>
    <link rel="stylesheet" th:href="@{/css/paginas.css}" />
</head>
<body>
<div class="top-banner"></div>
<div class="sidebar" th:replace="~{fragments/menu :: menuFragment}"></div>
<div class="wrapper-container">
    <div class="main-content">
        <h1>Rota de Atendimento</h1>

        <table class="atendimento-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Endereço</th>
                <th>Bairro e Cidade</th>
                <th>Nome do Síndico</th>
                <th>Telefone do Síndico</th>
                <th>Data Atendimento</th>
                <th>Status</th>
                <th>Observação</th>
                <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ordem : ${ordens}">
                <td th:text="${ordem.id}">ID</td>
                <td th:text="${ordem.endereco.rua + ', ' + ordem.endereco.numero}">Endereço</td>
                <td th:text="${ordem.endereco.bairro + ', ' + ordem.endereco.cidade}">Endereço</td>
                <td th:text="${ordem.endereco.nomeSindico}">Nome do Síndico</td>
                <td th:text="${ordem.endereco.telefoneSindico}">Telefone Síndico</td>
                <td th:text="${ordem.data}">Data</td>
                <td th:text="${ordem.status}">Status</td>
                <td th:text="${ordem.observacao}">Observação</td>
                <td>
                    <form th:action="@{/ordemServico/status/{id}(id=${ordem.id})}" th:method="post">
                        <div class="form-group">
                            <label for="status" id="status">Atualizar status:</label>
                            <select name="status">
                                <option value="Aberto">Aberto</option>
                                <option value="Em Progresso">Em Progresso</option>
                                <option value="Concluído">Concluído</option>
                            </select>
                        </div>
                        <!-- Campo oculto para salvar o ultimoUsuario no BD -->
                        <input type="hidden" name="ultimoUsuario" th:value="${usuarioLogado}" />
                        <button type="submit">Atualizar status</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>